
## <summary>policy for aokchain</summary>


########################################
## <summary>
##	Transition to aokchain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`aokchain_domtrans',`
	gen_require(`
		type aokchain_t, aokchain_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, aokchain_exec_t, aokchain_t)
')


########################################
## <summary>
##	Execute aokchain server in the aokchain domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`aokchain_initrc_domtrans',`
	gen_require(`
		type aokchain_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, aokchain_initrc_exec_t)
')


########################################
## <summary>
##	Search aokchain lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`aokchain_search_lib',`
	gen_require(`
		type aokchain_var_lib_t;
	')

	allow $1 aokchain_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read aokchain lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`aokchain_read_lib_files',`
	gen_require(`
		type aokchain_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, aokchain_var_lib_t, aokchain_var_lib_t)
')

########################################
## <summary>
##	Manage aokchain lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`aokchain_manage_lib_files',`
	gen_require(`
		type aokchain_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, aokchain_var_lib_t, aokchain_var_lib_t)
')

########################################
## <summary>
##	Manage aokchain lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`aokchain_manage_lib_dirs',`
	gen_require(`
		type aokchain_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, aokchain_var_lib_t, aokchain_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a aokchain environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`aokchain_admin',`
	gen_require(`
		type aokchain_t;
		type aokchain_initrc_exec_t;
		type aokchain_var_lib_t;
	')

	allow $1 aokchain_t:process { ptrace signal_perms };
	ps_process_pattern($1, aokchain_t)

	aokchain_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 aokchain_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, aokchain_var_lib_t)

')

