[Unit]
Description=AokChain's distributed currency daemon
After=network.target

[Service]
User=aokchain
Group=aokchain

Type=forking
PIDFile=/var/lib/aokchaind/aokchaind.pid
ExecStart=/usr/bin/aokchaind -daemon -pid=/var/lib/aokchaind/aokchaind.pid \
-conf=/etc/aokchain/aokchain.conf -datadir=/var/lib/aokchaind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
